extends layout

block content
  h1= title
  ul
    each author in author_list
        if author.date_of_birth && author.date_of_death
            li
                a(href=author.url) #{author.name}
                |  (#{author.lifespan})
        
        else
            li
                a(href=author.url) #{author.name}

    else
      li There are no authors.